---
import { Image } from "astro:assets";
import type { InferEntrySchema } from "astro:content";
import FloatingCard from "../../FloatingCard";

type Props = {
	data: InferEntrySchema<"projects">;
};

const { data } = Astro.props;
---

<FloatingCard
	client:visible
	innerClassName="w-full aspect-square border-4 border-primary relative"
	rotateMultiplier={5}
	onHoverScaleSize={1.03}
>
	<div
		class="w-full h-full absolute inset-0 z-10 flex flex-col md:opacity-0 hover:md:opacity-100 transition-opacity duration-500"
	>
		<div class="flex-1 p-2 flex flex-col">
			<h2 class="text-lg leading-none mt-0.5">{data.title}</h2>
			<p class="text-sm">{data.subtitle}</p>

			<ul class="text-xs uppercase opacity-70 flex gap-2 mt-1 flex-wrap">
				{data.technologies.map((technology) => <li>{technology}</li>)}
			</ul>
		</div>

		<div class="flex flex-col w-full p-2 gap-2">
			<!-- REPO LINK -->
			{
				data.repoLink && (
					<a
						class="button bg-secondary text-xl text-center"
						href={data.repoLink?.url}
						target="_blank"
					>
						{data.repoLink?.label}
					</a>
				)
			}

			<!-- VIEW LINK -->
			{
				data.viewLink && (
					<a
						class="button bg-secondary text-xl text-center"
						href={data.viewLink?.url}
						target="_blank"
					>
						{data.viewLink?.label}
					</a>
				)
			}
		</div>

		<div class="w-full h-full absolute inset-0 bg-secondary opacity-70 -z-10"></div>
	</div>

	<Image
		class="w-full h-full object-cover"
		src={data.thumbnail}
		alt={data.title}
		draggable={false}
	/>
</FloatingCard>
