---
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";
import { Icon } from "astro-icon/components";

const footerEntry: CollectionEntry<"footer"> = await getEntry("footer", "index");
const { socialLinks } = footerEntry.data;
---

<footer class="px-4 py-2 sm:py-4">
	<div
		class="container mx-auto h-full flex flex-col-reverse sm:flex-row gap-2 items-center sm@items-end justify-center sm:justify-between"
	>
		<!-- ANCHOR Credit Link -->
		<a
			href="https://astro.build/"
			class="uppercase text-sm text-center sm:text-left"
			target="_blank"
			aria-label={`created with ${Astro.generator}`}
		>
			created with {Astro.generator}
		</a>

		<!-- ANCHOR Social Links -->
		<ul class="flex gap-2">
			{
				socialLinks.map(({ url, icon, alt }) => (
					<li class="h-full aspect-square">
						<a
							href={url}
							class="text-xl p-0.5 button border-0"
							target="_blank"
							title={alt}
							aria-label={alt}
						>
							<Icon name={icon} />
						</a>
					</li>
				))
			}
		</ul>
	</div>
</footer>
